.button-icon {
    background: transparent no-repeat 0 0;
    background-size: 100% 100%;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease 0s;
}

.button-icon:hover, .button-icon:focus {
    background-color: rgba(0,0,0, 0.3);
}

.button-icon_large {
    width: 32px;
    height: 32px;
}

.button-icon_remove {
    background-image: url('images/icon-remove.png');
}

.button-icon_add-row {
    background-image: url('images/icon-add-row.png')
}

.button-icon_add-column {
    background-image: url('images/icon-add-column.png')
}
