.comparison-table-container {
    position: relative;
    margin-right: 30px;
}

.comparison-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.comparison-table__row:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.1);
}

.comparison-table__row_disabled .comparison-table__cell {
    color: rgba(255, 255, 255, 0.4);
}

.comparison-table__cell {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: right;
    font: 0.875rem/1.43 "Roboto", "Helvetica", "Arial", sans-serif;
    position: relative;
    padding: 0;
}

.comparison-table__cell_head {
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    width: 300px;
}

.comparison-table__cell_property {
    text-align: left;
    width: 250px;
}

.comparison-table__cell-editable {
    padding: 16px;
}

.comparison-table-add-row {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 10px;
}

.comparison-table-add-column {
    position: absolute;
    left: 100%;
    top: 7px;
    margin-left: 10px;
}

.comparison-table-remove-property,
.comparison-table-remove-variant {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
}

.comparison-table-remove-property {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.comparison-table-remove-variant {
    bottom: 100%;
    right: 0;
    opacity: 0;
}

.comparison-table__cell:hover .comparison-table-remove-property,
.comparison-table__cell:hover .comparison-table-remove-variant {
    opacity: 1;
}
