@import '../../styles/_variables';

.progress {
    background-color: $colorGray;
    height: 20px;
    padding: 4px;
    border: 4px solid #333;
    box-shadow: inset 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.progress__bar {
    background-color: $colorNormal;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 0;
    min-width: 20px;
    transition: all 0.3s ease 0s;
}

.progress__bar_worst {
    background-color: $colorBad;
}

.progress__bar_best {
    background-color: $colorGood;
}
