.progress {
    background-color: #cfd8dc;
    height: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}

.progress__bar {
    background-color: #ffc107;
    height: 100%;
    border-radius: 10px;
    width: 0;
    transition: all 0.3s ease 0s;
}

.progress__bar_worst {
    background-color: #ff5722;
}

.progress__bar_best {
    background-color: #4caf50;
}
