.summary-list-item {
    margin-bottom: 20px;
}

.summary-text {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    line-height: 2rem;
}

.summary-text_best {
    font-size: 1.25rem;
    font-weight: bold;
}
