.header {
    background: rgba(0,0,0, 0.1);
    padding: 20px;
    margin-bottom: 40px;
}

.header-logo {
    background: url('comtable.png') no-repeat 0 0;
    background-size: 100% 100%;
    width: 128px;
    height: 64px;
}
