@font-face {
    font-family: PressStart2P;
    src: url('fonts/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: JuraVariableFont;
    src: url('fonts/Jura-VariableFont_wght.ttf');
}

html, body, #root {
    height: 100%;
}

body {
    background-color: #455a64;
    color: #fff;
    margin: 0;
    font: 14px/1.5 Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    font-family: JuraVariableFont, PressStart2P, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
